@import url(global.css);

body {
    display: flex;
    flex-direction: column;
}

#top-bar {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 12px 0px 12px 0px;
    margin: 0;
    height: 40px;
    width: 100%;
    background-color: rgb(40, 40, 40);
    box-shadow: 0px 1px 10px 1px rgb(0, 0, 0, 0.3);
    z-index: 2;
}

#top-bar .top-bar-empty {
    display: none;
    width: 50px;
}

#top-bar img {
    margin-left: 12px;
    width: 40px;
}

#top-bar .top-bar-title {
    margin-left: 10px;
    font-size: 1.5em;
    color: rgb(255, 255, 255);
}

#top-bar .top-bar-empty-2 {
    flex: 1;
}

#top-bar #log-out-button {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-size: 0.5em;
    font-weight: 300;
    margin-right: 12px;
    padding: 10px 0px;
    border: 1px solid rgb(255, 255, 255);
    width: 85px;
    height: 32px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

#top-bar #log-out-button .icon {
    padding: 0px;
    margin: 0px;
    cursor: pointer;
}

#top-bar #log-out-button .font {
    text-align: center;
    margin-left: 5px;
}

@media (max-aspect-ratio: 1/1) {
    #top-bar {
        z-index: 1;
    }

    #top-bar .top-bar-empty {
        display: block;
    }
}
