<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
        <link rel="icon" href="../static/img/favicon.ico">
        <link rel="stylesheet" href="../static/css/home.css">
        <script src="../static/js/include-html.js"></script>
        <script src="../static/js/side-bar.js"></script>
        <title>Test</title>
    </head>
    <body>
        <div id="top-bar" include-html="top-bar.html"></div>
        <div id="side-bar" include-html="side-bar.html"></div>
        <div id="content">
            <div class="table">
                <div class="row">
                    <div class="card">
                        <svg>
                            <circle cx="140" cy="140" r="132"></circle>
                            <circle cx="140" cy="140" r="132" style="--color:rgb(10, 240, 40);--percent:50"></circle>
                        </svg>
                    </div>
                    <div class="card">
                        <svg>
                            <circle cx="140" cy="140" r="132"></circle>
                            <circle cx="140" cy="140" r="132" style="--color:rgb(6, 205, 255);--percent:90"></circle>
                        </svg>
                    </div>
                </div>
                <div class="row">
                    <div class="card">
                        <svg>
                            <circle cx="140" cy="140" r="132"></circle>
                            <circle cx="140" cy="140" r="132" style="--color:rgb(240, 10, 40);--percent:90"></circle>
                        </svg>
                    </div>
                    <div class="card">
                        <svg>
                            <circle cx="140" cy="140" r="132"></circle>
                            <circle cx="140" cy="140" r="132" style="--color:rgb(255, 230, 0);--percent:90"></circle>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="info">

            </div>
        </div>
    </body>
    <script>includeHTML()</script>
</html>