<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
        <link rel="icon" href="../static/img/favicon.ico">
        <link rel="stylesheet" href="../static/css/rule.css">
        <script src="../static/js/include-html.js"></script>
        <script src="../static/js/side-bar.js"></script>
        <title>Test</title>
    </head>
    <body>
        <div id="top-bar" include-html="top-bar.html"></div>
        <div id="side-bar" include-html="side-bar.html"></div>
        <div id="content">

        </div>
    </body>
    <script>includeHTML()</script>
</html>