<link rel="stylesheet" href="../static/css/side-bar.css">
<span class="side-background"></span>
<button class="side-bar-option menu" onclick="mobile_menu(this)">
    <span class="material-icons side-icon">
        <p>reorder</p>
    </span>
</button>
<div class="side-bar-empty">

</div>
<button class="side-bar-option" onclick="location.href='/home'">
    <span onmouseover="side_bar_on_hover(this)"
    onmouseout="side_bar_on_not_hover(this)"
    class="material-icons side-icon">
        <p>home</p>
    </span>
    <span class="side-label"
    onmouseover="side_bar_on_hover(this)"
    onmouseout="side_bar_on_not_hover(this)">
        <p class="font">Home</p>
    </span>
</button>
<button class="side-bar-option" onclick="location.href='/rule'">
    <span onmouseover="side_bar_on_hover(this)"
    onmouseout="side_bar_on_not_hover(this)"
    class="material-icons side-icon">
        <p>fact_check</p>
    </span>
    <span class="side-label"
    onmouseover="side_bar_on_hover(this)"
    onmouseout="side_bar_on_not_hover(this)">
        <p class="font">Rule</p>
    </span>
</button>
<button class="side-bar-option" onclick="location.href='/data'">
    <span onmouseover="side_bar_on_hover(this)"
    onmouseout="side_bar_on_not_hover(this)"
    class="material-icons side-icon">
        <p>description</p>
    </span>
    <span class="side-label"
    onmouseover="side_bar_on_hover(this)"
    onmouseout="side_bar_on_not_hover(this)">
        <p class="font">Data</p>
    </span>
</button>
<div class="side-bar-empty">
    
</div>